* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: white;
  font-family: 'Arial', sans-serif;
}

.square {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  background-color: #61dafb;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 15px;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-board button {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.game-board button:hover {
  background-color: #bbdefb;
}

.game-info li {
  margin-bottom: 4px;
  font-size: 1.2em;
}